#sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f0ffff;
    color: black;
    text-align: center;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
  }